<div>
    <div class="accueilContainer row ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-card class="jeu">
                <mat-card-header class="cardheader">
                    <mat-card-title>Jeu resonsable</mat-card-title>
                    <mat-card-subtitle>Notre approche</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    Des millions de clients du monde entier parient avec nous chaque année - ils aiment l'excitation
                    d'avoir un petit flottement et le frisson de gagner. Les paris et les jeux sont une façon agréable,
                    sociable et mémorable de passer du temps ; c'est pourquoi il continue d'être si populaire.
                    Cependant, malheureusement, pour un petit pourcentage de personnes, le jeu cesse d'être un
                    divertissement et peut causer des problèmes personnels, sociaux, financiers et même de santé.

                    Il est de notre responsabilité d'aider nos clients à jouer en toute sécurité et de manière
                    responsable, de réduire le risque de préjudice et d'aider les personnes qui ont besoin d'un
                    traitement à l'obtenir.

                    C'est pourquoi nous avons développé une nouvelle stratégie de jeu plus sûre, « Changer pour le
                    parieur ».

                    Le principe directeur de notre campagne de jeu plus sûr est d'être l'opérateur de paris le plus
                    fiable et le plus agréable au monde. Nous plaçons les clients au cœur de notre activité en veillant
                    à ce qu'ils soient protégés des dommages tout en profitant de leur flottement régulier. Pour plus
                    d'informations sur notre stratégie, veuillez consulter notre page politique.
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>