<div>
    <div class="accueilContainer row ">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <mat-card>
                <mat-card-header class="cardheader">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Championnat</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 logoequipe">
                            <img src="/assets/img/logo.png" width="150" height="150">
                            <div class="labelmatch">
                                <p>Nom équipe</p>
                                <a>
                                    <p>Historique matchs</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <mat-card class="detailsmatch">
                                <p>Date: <span>xx-xx-xxxx</span></p>
                                <p>Heure: <span>10 PM</span></p>
                                <p>Lieu: <span>Paris</span></p>
                                <p>Statut: <span>A venir</span></p>
                            </mat-card>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 logoequipe">
                            <img src="/assets/img/logo.png" width="150" height="150">
                            <div class="labelmatch">
                                <p>Nom équipe</p>
                                <a>
                                    <p>Historique matchs</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <h4 class="scorematch">Score 1 <span>-</span> Score 2</h4>
                <mat-divider></mat-divider>
                <div class="listregles">
                    <div class="regletab">
                        <div class="titletype">
                            <h5>Resultat du match</h5>
                        </div>
                        <div class="titleregle row">
                            <div class="col-lg-4 col-md-4 col-sm-4 caseregle " >
                                <p class="nomregle">regle1</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 ligneregles caseregle">
                                <p class="nomregle">regle1</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 caseregle">
                                <p class="nomregle">regle1</p>
                            </div>
                        </div>
                    </div>
                    <div class="regletab">
                        <div class="titletype">
                            <h5>Resultat du match</h5>
                        </div>
                        <div class="titleregle row">
                            <div class="col-lg-4 col-md-4 col-sm-4 caseregle">
                                <p class="nomregle">regle1</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 ligneregles">
                                <p class="nomregle">regle1</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 caseregle">
                                <p class="nomregle">regle1</p>
                            </div>
                        </div>
                    </div>
                    <div class="regletab">
                        <div class="titletype">
                            <h5>Resultat du match2</h5>
                        </div>
                        <div class="titleregle row">
                            <div class="col-lg-4 col-md-4 col-sm-4 caseregle">
                                <p class="nomregle">regle1</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 ligneregles">
                                <p class="nomregle">regle2</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 caseregle">
                                <p class="nomregle">regle3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>

        </div>
        <app-coupons></app-coupons>
    </div>
</div>