<div class="animated fadeIn">
    <div class="card-columns cols-2">
        <h1 class="contact">{{ title }}</h1>

        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <!--<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>  -->
        <div class="map-container row">
            <div class="map-frame col-lg-6 col-md-6 col-sm-6">
                <div id="map"></div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="card">
                    <div class="card-header">
                        <strong>Ajouter point de vente </strong>
                    </div>
                    <div class="card-body">
                        <p style="color: red;">{{error}}</p>
                        <form #loginform ngForm class="form" (submit)="onSubmit($event)">
                            <div class="form-group">
                                <label for="company">Adresse</label>
                                <input type="text" class="form-control" [(ngModel)]="p.adresse" name="adresse"
                                    placeholder="Entrez l'adresse">
                            </div>
                            <div class="form-group">
                                <label for="vat">Latitude</label>
                                <input type="text" class="form-control" [(ngModel)]="p.lat" name="lat"
                                    placeholder="latitude">
                            </div>
                            <div class="form-group">
                                <label for="street">Longitude</label>
                                <input type="text" class="form-control" [(ngModel)]="p.lng" name="lng"
                                    placeholder="longitude">
                            </div>
                            <button mat-stroked-button color="primary" class="btn btn-block btn-primary">
                                Valider
                            </button>
                            <p *ngIf="success"style="color:green;font-weight:bold;text-align:center;margin-top:10px">Ajout effectué!</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>