<div>
    <div class="accueilContainer row ">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <mat-card>
                <p>{{nodata}}</p>
                <mat-card-header class="cardheader">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Matchs phares</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="">
                        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                    </div>
                    <mat-list class="example-card">
                        <mat-list-item class="itemlist">
                            <div class="listitemcontent row">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <p class="titre">Position</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p class="titre">Date</p>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <p class="titre">Match</p>
                                </div> 
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-item>

                        <mat-list-item class="itemlist" *ngFor="let match of matches">
                            <div class="listitemcontent row">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <p class="nomequipe">{{match.incr}}</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p class="datematch">{{match.match.date | date: 'yyyy-MM-dd'}}</p>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <p class="nomequipe">{{match.match.equipe1.nom}}</p>
                                    <img src="{{match.match.equipe1.logo}}" class="logoequipe">
                                    <span class="nomequipe"> VS </span>
                                    <img src="{{match.match.equipe2.logo}}" class="logoequipe">
                                    <p class="nomequipe">{{match.match.equipe2.nom}}</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <a routerLink="/detailmatch/{{match.match.id}}" class="navlink">
                                        <button id="detailsbutton" mat-raised-button color="primary">Détails
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>

        </div>
        <app-coupons></app-coupons>
    </div>
</div>