<div>
    <div class="accueilContainer row ">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <mat-card>
                <mat-card-header class="cardheader">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Mes Paris</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="">
                        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                    </div>
                    <p>{{nodata}}</p>
                    <mat-list class="example-card">
                        <mat-list-item class="itemlist">
                            <div class="listitemcontent row">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p class="colonne">N°</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p class="colonne">Mise </p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p class="colonne">Date</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4">
                                    <p class="colonne">Paris</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <p class="colonne">Match</p>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                        <mat-list-item class="itemlist" *ngFor="let pari of paris">
                            <div class="listitemcontent row">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p>{{pari.id}}</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p>{{pari.mise}}</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p>{{pari.date}}</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p>{{pari.regle}}</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <img src="{{pari.match.equipe1.logo}}" class="logoequipe">
                                    <span class="vs"> VS </span>
                                    <img src="{{pari.match.equipe2.logo}}" class="logoequipe">
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-item>

                    </mat-list>
                </mat-card-content>
            </mat-card>

        </div>
        <app-coupons></app-coupons>
    </div>
</div>