<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap Core CSS -->

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <mat-toolbar>
    <mat-toolbar-row class="mat-elevation-z6 uptoolbar">
      <mat-grid-list cols="4" rowHeight="100px" style="width: 100%;">
        <mat-grid-tile>
          <div class="logotile">
            <img src="/assets/img/logo.png" width="80" height="80">
          </div>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <div class="rightmenu">
            <a href="#" class="navlink"><button id="context" mat-button color="primary">Connexion</button></a>
            <a href="#" class="navlink"><button id="insctext" mat-raised-button color="primary">Inscription</button></a>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <mat-grid-list cols="7" rowHeight="100%" style="width: 100%;">
        <mat-grid-tile colspan="1">
          <div class="menuicon">
            <button type="button" mat-button (click)="sidenav.toggle()">
              <mat-icon class="example-icon">menu</mat-icon>
            </button>
          </div>

        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <div class="navmenu">
            <div class="navmenuelem">
              <mat-icon class="example-icon-home">home</mat-icon>
              Home
            </div>
            <div class="navmenuelem">
              <mat-icon class="example-icon-jeuresp">lightbulb</mat-icon>
              Jeu responsable
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <div class="menuicon">
            <form action="" style="float: right;">
              <input class="searchinput" matInput placeholder="Search...">
              <mat-icon id="searchicon" onclick="">search</mat-icon>
            </form>
          </div>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav class="example-sidenav">
      <h3 class="title">Menu</h3>
      <ul class="menulist">
        <li class="menuelement">
          <mat-icon class="iconmenu">calendar_today</mat-icon>
          Calendrier
        </li>
        <li class="menuelement">
          <mat-icon class="iconmenu">sports_soccer</mat-icon>
          Sports
        </li>
        <li class="menuelement">
          <mat-icon class="iconmenu">local_fire_department</mat-icon>
          Top 50
        </li>
        <li class="menuelement">
          <mat-icon class="iconmenu">history</mat-icon>
          Historique
        </li>
        <li class="menuelement">
          <mat-icon class="iconmenu">view_list</mat-icon>
          Mes Paris
        </li>
      </ul>

    </mat-sidenav>

    <mat-sidenav-content>
      <div class="accueilContainer row ">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <router-outlet></router-outlet>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12  col-xs-12">
          <mat-card>
            <mat-card-header class="cardheader">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Coupons</mat-card-title>
              <mat-card-subtitle>{{date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions class="centeredcardaction">
              <a href="#" class="navlink">
                <button id="detailsbutton" mat-raised-button color="primary">
                  Voir plus
                </button>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- jQuery -->
  <script src="/assets/js/jquery.min.js"></script>

  <script src="/assets/js/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/assets/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="/assets/js/metisMenu.min.js"></script>

</body>

</html>