.uptoolbar {
    height: 100px;
}
.rightmenu{
    float: right;
}
.logotile{
    width: 100%;
}
.menuicon{
width: 100%;
margin-left: 15px;
}
.logotile img{
margin-left: 7%;
}
.navlink{
    text-decoration: none;
    margin-right: 30px;
}

.example-icon{
    font-size: 57px;
    width: fit-content;
    height: 100%;

}
.example-icon-home{
    font-size: 28px;
    width: fit-content;
    height: 100%;
    position: relative;
    top: 7px;
}
.navmenu{
    display: inline-block;
    /*margin-left: 15%;*/
    width: 100%;
    font-size: 15px;

}
.navmenuelem{
    display: inline-block;
    margin-left: 6%;
}
.example-icon-jeuresp{
    font-size: 28px;
    width: fit-content;
    height: 100%;
    position: relative;
    top: 7px;
}
.searchinput{
    height: 38px;
    width: 366px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 5px #00000042;
}

#searchicon{
    font-size: 32px;
    position: relative;
    top: 13px;
    left: -44px;
}
#context{
    color: black;
}
#insctext{
    background-color: #4fa5ff;
}
/* drawer */

.example-container {
    height: 100%;
    background: white;
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  

  .title{
      color: white;
      text-align: center;
  }
  .menuelement{
    list-style: none;
    color: #fff;
    margin-bottom: 9%;
  }

  .menulist{
    padding: 0;
  }

  .iconmenu{
    font-size: 24px;
    position: relative;
    top: 6px;
    margin-right: 9px;
  }
  /**********************************/
  .example-sidenav-container {
    min-height: 400px;
 }

    .example-sidenav {
        padding: 20px;
        background-color: #4fa5ff;
        width: 11%;
        min-width: 161px;
      }
      .mat-drawer-backdrop.mat-drawer-shown {
        background-color: rgb(0 0 0 / 14%)!important;
    }
    /*/*accueil*/
    .accueilContainer{
        margin:15px;
    }
    .cardheader{
        justify-content: center;
    }
    .nomequipe{
        margin-left: 27px;
        margin-right: 27px;
    }
    .listitemcontent{
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    
    #detailsbutton{
        background-color: #4fa5ff;
    }
    .example-card{
        max-height: 500px;
        overflow: auto;
    }
    .centeredcardaction{
        width: 80px;
        text-align: center;
        margin: auto;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 20px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(255, 208, 0); 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(255, 208, 0);
      }
    @media screen and (max-width: 1310px) {
        .itemlist{
    height: 70px!important;
        }
      }
      .mat-toolbar {
        background: #ffc100!important;
      }
.fmd-FooterModuleDefault_GambleResponsibly{
    margin: 0 auto;
    padding: 0 30px;
    font-size: 11px;
    line-height: 17px;
    text-align: left;
    color: #b5b5b5;
}

footer{
    height: 48px;
    background: #181818;
}
.nameuser{
    margin-left: 15%;
    font-size: initial;
}