<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap Core CSS -->

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <mat-toolbar>
    <mat-toolbar-row class="mat-elevation-z6 uptoolbar">
      <mat-grid-list cols="4" rowHeight="100px" style="width: 100%;">
        <mat-grid-tile>
          <div class="logotile">
            <img src="/assets/img/logo.png" width="80" height="80">
          </div>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile *ngIf="!islogged">
          <div class="rightmenu">
            <a class="navlink"(click)="openLoginDialog()"><button id="context" mat-button color="primary">Connexion</button></a>
            <a class="navlink"><button id="insctext" (click)="openSigninDialog()" mat-raised-button color="primary">Inscription</button></a>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="islogged">
          <div class="rightmenu">
            <img src="/assets/img/user.png" width="50" height="50">
            <span class="nameuser">Nom utilisateur</span>
          </div>
        </mat-grid-tile>
      </mat-grid-list >
    </mat-toolbar-row>
    <mat-toolbar-row>
      <mat-grid-list cols="7" rowHeight="100%" style="width: 100%;">
        <mat-grid-tile colspan="1">
          <div class="menuicon">
            <button type="button" mat-button (click)="sidenav.toggle()">
              <mat-icon class="example-icon">menu</mat-icon>
            </button>
          </div>

        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <div class="navmenu">
            <div class="navmenuelem">
              <a routerLink="/" class="headerlink">
                <mat-icon class="example-icon-home">home</mat-icon>
              Home
              </a>
            </div>
            <div class="navmenuelem">
              <a routerLink="/jeuresp" class="headerlink">
              <mat-icon class="example-icon-jeuresp">lightbulb</mat-icon>
              Jeu responsable
              </a>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <div class="menuicon">
            <form action="" style="float: right;">
              <input class="searchinput" matInput placeholder="Search...">
              <mat-icon id="searchicon" onclick="">search</mat-icon>
            </form>
          </div>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav class="example-sidenav">
      <h3 class="title">Menu</h3>
      <ul class="menulist">
        <li class="menuelement">
          <mat-icon class="iconmenu">calendar_today</mat-icon>
          <a routerLink="/calendrier" class="menulien">Calendrier</a>
        </li>
        <li class="menuelement">
          <mat-icon class="iconmenu">local_fire_department</mat-icon>
          <a routerLink="/top50" class="menulien">Top 50</a>
        </li>
        <li class="menuelement">
          <mat-icon class="iconmenu">history</mat-icon>
         <a routerLink="/historiqueGlobal" class="menulien">Historique</a> 
        </li>
        <li class="menuelement">
          <mat-icon class="iconmenu">view_list</mat-icon>
          <a routerLink="/mesparis" class="menulien"> Mes Paris</a> 
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="accueilContainer row ">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer>
    <div class="fmd-FooterModuleDefault_GambleResponsibly ">Gambling can be addictive, please play responsibly. For
      information on support measures, please visit our
      <span class="fol-LabelLink ">Responsible Gambling Help</span>
      page.
      <p style="text-align: right;">Copyright © 2021</p>
    </div>
  </footer>
  <!-- jQuery -->
  <script src="/assets/js/jquery.min.js"></script>

  <script src="/assets/js/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/assets/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="/assets/js/metisMenu.min.js"></script>

</body>

</html>