.imglogin{
    width: 50%;
    margin: auto;
    text-align: center;
    }
    
    .btnlogin{
        background-color: #4fa5ff;
        color: white;
        float: right;
    }
    .loginfield{
        width: 287px;
    }
    .logincontainer{
        width: 354px;
        margin: auto;
    }
    
    .logindialog{
        width: 636px;
    }