<div>
    <div class="accueilContainer row ">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <mat-card>
                <mat-card-header class="cardheader">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Calendrier</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <span>Date: </span>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button id="searchbtn" mat-raised-button (click)="getMatchByDate()">Search</button>
                    </div>
                    <div *ngIf="date">
                        <div class="">
                            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                        </div>
                        <mat-list class="example-card">
                            <p>{{nodata}}</p>
                            <mat-list-item class="itemlist" *ngFor="let m of match">
                                <div class="listitemcontent">
                                    <p class="nomequipe">{{m.equipe1.nom}}</p>
                                    <img src="{{m.equipe1.logo}}" class="logoequipe">
                                    <span> VS </span>
                                    <img src="{{m.equipe2.logo}}" class="logoequipe">
                                    <p class="nomequipe">{{m.equipe2.nom}}</p>
                                    <a routerLink="/detailmatch/{{m.id}}" class="navlink">
                                        <button id="detailsbutton" mat-raised-button color="primary">Détails
                                        </button>
                                    </a>
                                    <mat-divider></mat-divider>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <app-coupons></app-coupons>
    </div>
</div>