<mat-dialog-content class="mat-typography logindialog">
    <div class="logincontainer">
        <div class="row">
            <div>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Ajouter une mise
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form ngForm #loginform class="form" (submit)="onSubmit($event); loginform.reset();">
                            <mat-form-field class="loginfield">
                                <input matInput type="number" placeholder="Mise" required [(ngModel)]="mise" name="mise">
                            </mat-form-field>
                            <br>
                            <button mat-stroked-button color="primary" class="btn btnlogin">
                                Valider
                            </button>
                            <div *ngIf="error" class="alert">{{error}}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>