.logincontainer{
    width: 354px;
    margin: auto;
    position: relative;
}

.logindialog{
    width: 636px;
}
.imglogin{
width: 50%;
margin: auto;
text-align: center;
}

.btnlogin{
    background-color: #4fa5ff;
    color: white;
    float: right;
}
.loginfield{
    width: 287px;
}
.alert{
    color: red;
    font-weight: bold;
}
.spinner{
    position: absolute;
    background: #92929259;
    width: 586px;
    height: 437px;
    z-index: 5;
}
.inscrilink{
    
    cursor: pointer
}