<div>
    <div class="accueilContainer row ">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <mat-card>
                <mat-card-header class="cardheader">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Matchs</mat-card-title>
                    <mat-card-subtitle>{{date}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="">
                        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                    </div>
                    <p>{{nodata}}</p>
                    <mat-list class="example-card">
                        <mat-list-item class="itemlist">
                            <div class="listitemcontent row">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p class="colonne">Date</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="colonne">Match</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <p class="colonne">Etat</p>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                        <mat-list-item class="itemlist" *ngFor="let match of matches">
                            <div class="listitemcontent row">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <p>{{match.date | date: 'yyyy-MM-dd'}}</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p class="nomequipe">{{match.equipe1.nom}}</p>
                                    <img src="{{match.equipe1.logo}}" class="logoequipe">
                                    <span> VS </span>
                                    <img src="{{match.equipe2.logo}}" class="logoequipe">
                                    <p class="nomequipe">{{match.equipe2.nom}}</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <p>{{match.etat}}</p>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                            <a routerLink="/detailmatch/{{match.id}}" class="navlink">
                                <button id="detailsbutton" mat-raised-button color="primary">Détails
                                </button>
                            </a>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions class="centeredcardaction">
                    <a href="#" class="navlink"><button id="detailsbutton" mat-raised-button color="primary">Voir
                            plus</button></a>
                </mat-card-actions>
            </mat-card>
        </div>
        <app-coupons></app-coupons>
    </div>
</div>