.cardheader{
    justify-content: center;
}
.infogen{
    padding: 5%;
}
.profiltitle{
    font-weight: bold;
    display: inline;
}
.ligne{
    margin-bottom: 2%;
}
.qrcode{
    text-align: center;
}
#modif{
    background-color: #ffc100;
    color: #000;
}

.actions{
    background-color: #ffc100;
    margin-right: 4%;
    color: #000;
}

.actionshisto{
    background-color: #4fa5ff;
    margin-right: 4%;
    color: #fff;
}
.boutonsactions{
    margin-left: 5%;
}